{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row form-group mt-3">
        <a type="button" href="{% url 'view' 'student' student.AdNum %}" class="btn btn-outline-dark form-control mb-2">View Student</a>
        <a type="button" href="{% url "edit" "student" student.AdNum %}" class="btn btn-outline-dark form-control">Edit Student</a>
    </div>
{% endblock %}
