{% extends "hssm/layout.html" %}
{% load static %}
{% block body %}
<div class="container px-4 py-5 text-center text-white">
  <div class="row gap-1">
    <div class="card col-6">
      <div class="card-body">
        <h5 class="card-title">General Settings</h5>
        <form action="" method="post">
          <div class="row g-3 ">
            <div class="col-5">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" value="frankmath2005@gmail.com">
            </div>
            <div class="col-3">
              <label for="phone_no" class="form-label">Phone</label>
              <input type="number" id="phone_no" class="form-control" value="9497182886">
            </div>
            <button class='col-3 btn btn-outline-dark float-end btn-lg' type="submit" disabled>Save <i
                class="fa-sharp fa-solid fa-floppy-disk"></i></button>
          </div>
        </form>
      </div>
    </div>

    <div class="card col-5">
      <div class="card-body">
        <h5 class="card-title">Fee Details</h5>
        <form action="" method="post">
          
          <button class='col-3 btn btn-outline-dark float-end btn-lg' type="submit">Print <i class="fa-sharp fa-light fa-print"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}