{% extends "hssm/layout.html" %}
{% load static %}
{% block body %}
<div class="float-end">
    <a href='{% url "edit" "student" student.AdNum %}' type="button" class="btn btn-outline-light m-2">Edit <i class="fa-solid fa-pen-nib"></i></a>
    <button type="button" class="btn btn-outline-light m-2">Share <i class="fa-solid fa-share"></i></button>
</div>
<div class='container py-5 text-white'>
    
    <div class="d-flex justify-content-start">
        
        <div class="d-flex flex-column mt-3 border-end border-bottom pe-3 pb-3">
            <h3 class="fw-bolder text-uppercase">Personal Infos</h3>
            <!--Profile pic placeholder-->
            <div class="d-flex justify-content-center mt-1 ms-5 border border-info rounded-circle border-5 p-2" style="width: 150px; height: 150px;float: inline-end!important">
                <svg xmlns="http://www.w3.org/2000/svg" style='margin-top: 5px' width="82%" height="82%" viewBox="0 0 448 512">
                    <path fill="#ffffff" d="M219.3 .5c3.1-.6 6.3-.6 9.4 0l200 40C439.9 42.7 448 52.6 448 64s-8.1 21.3-19.3 23.5L352 102.9V160c0 70.7-57.3 128-128 128s-128-57.3-128-128V102.9L48 93.3v65.1l15.7 78.4c.9 4.7-.3 9.6-3.3 13.3s-7.6 5.9-12.4 5.9H16c-4.8 0-9.3-2.1-12.4-5.9s-4.3-8.6-3.3-13.3L16 158.4V86.6C6.5 83.3 0 74.3 0 64C0 52.6 8.1 42.7 19.3 40.5l200-40zM111.9 327.7c10.5-3.4 21.8 .4 29.4 8.5l71 75.5c6.3 6.7 17 6.7 23.3 0l71-75.5c7.6-8.1 18.9-11.9 29.4-8.5C401 348.6 448 409.4 448 481.3c0 17-13.8 30.7-30.7 30.7H30.7C13.8 512 0 498.2 0 481.3c0-71.9 47-132.7 111.9-153.6z"/>
                </svg>
            </div>
            
            <div class="p-2 text-capitalize text-secondary">student name : <span class="text-white fw-bold text-wrap text-end">{{student}}</span></div>
            <div class="p-2 text-capitalize text-secondary">admission number : <span class="text-white fw-bold text-wrap text-end">{{student.AdNum}}</div>
            <div class="p-2 text-capitalize text-secondary">DOB : <span class="text-white fw-bold text-wrap text-end">{{student.dob}}</div>
            <div class="p-2 text-capitalize text-secondary">gender : <span class="text-white fw-bold text-wrap text-end">{{student.gender}}</div>
            <div class="p-2 text-capitalize text-secondary">identification mark : <span class="text-white fw-bold text-wrap text-end">{{student.idm}}</div>

            <div class="p-2 text-capitalize text-secondary">religion : <span class="text-white fw-bold text-wrap text-end">{{student.Religion}}, {{student.Parish}}</div>
            <div class="p-2 text-capitalize text-secondary">community : <span class="text-white fw-bold text-wrap text-end">{{student.Caste}}, {{student.Caste.community}}</div>
            
        </div>
        <div class="d-flex flex-column mt-3 ms-5 border-bottom border-end pe-2">
            <h3 class="fw-bolder text-uppercase ">Contact Infos</h3>
            <div class="p-2 text-capitalize text-secondary">permanent address : <span class="text-white fw-bold text-wrap text-end">{{student.PAddress}}</div>
                <div class="p-2 text-capitalize text-secondary">current address : <span class="text-white fw-bold text-wrap text-end">{{student.CAddress}}</div>
            <div class="p-2 text-capitalize text-secondary">student phone number : <span class="text-white fw-bold text-wrap text-end">{{student.StudentPhone}}</div>
            <div class="p-2 text-capitalize text-secondary">parent phone number : <span class="text-white fw-bold text-wrap text-end">{{student.ParentPhone}}</div>
            <div class="p-2 text-capitalize text-secondary">extra phone number : <span class="text-white fw-bold text-wrap text-end">{{student.AdditionalPhone}}</div>
                <!--Father name, occupation, same for mother and guardian-->
            <div class="p-2 text-capitalize text-secondary">father name : <span class="text-white fw-bold text-wrap text-end">{{student.FName}}</div>
            <div class="p-2 text-capitalize text-secondary">father occupation : <span class="text-white fw-bold text-wrap text-end">{{student.FOccupation}}</div>
            <div class="p-2 text-capitalize text-secondary">mother name : <span class="text-white fw-bold text-wrap text-end">{{student.MName}}</div>
            <div class="p-2 text-capitalize text-secondary">mother occupation : <span class="text-white fw-bold text-wrap text-end">{{student.MOccupation}}</div>
            <div class="p-2 text-capitalize text-secondary">guardian name : <span class="text-white fw-bold text-wrap text-end">{{student.GName}}</div>
            <div class="p-2 text-capitalize text-secondary">guardian occupation : <span class="text-white fw-bold text-wrap text-end">{{student.GOccupation}}</div>
        </div>
        <div class="d-flex flex-column mt-3 ms-5 border-bottom border-end pe-2">
            <h3 class="fw-bolder text-uppercase ">admission Infos</h3>
            <!--AdYear, AdDate, Branch, Class now, stream, quota, ied remarks, index, previous school, study type, aadhar number, bank number, bank branch-->
            <div class="p-2 text-capitalize text-secondary">admission year : <span class="text-white fw-bold text-wrap text-end">{{student.AdYear}}</div>
            <div class="p-2 text-capitalize text-secondary">admission date : <span class="text-white fw-bold text-wrap text-end">{{student.AdDate}}</div>
            <div class="p-2 text-capitalize text-secondary">branch : <span class="text-white fw-bold text-wrap text-end">{{student.AdBranch}}</div>
            <div class="p-2 text-capitalize text-secondary">class now : <span class="text-white fw-bold text-wrap text-end">{{student.ClassNow}}</div>
            <div class="p-2 text-capitalize text-secondary">stream : <span class="text-white fw-bold text-wrap text-end">{{student.Stream}}</div>
            <div class="p-2 text-capitalize text-secondary">quota : <span class="text-white fw-bold text-wrap text-end">{{student.AdQuota}}</div>

            <div class="p-2 text-capitalize text-secondary">IED remarks : <span class="text-white fw-bold text-wrap text-end">{{student.IEDRemarks}}</div>
            <div class="p-2 text-capitalize text-secondary">index : <span class="text-white fw-bold text-wrap text-end">{{student.index}}</div>
            <div class="p-2 text-capitalize text-secondary">previous school : <span class="text-white fw-bold text-wrap text-end">{{student.PrevSchool}}</div>
            <div class="p-2 text-capitalize text-secondary">study type : <span class="text-white fw-bold text-wrap text-end text-uppercase">{{student.PrevType}}</div>
            <div class="p-2 text-capitalize text-secondary">aadhar number : <span class="text-white fw-bold text-wrap text-end">{{student.aadhar}}</div>
            <div class="p-2 text-capitalize text-secondary">bank number : <span class="text-white fw-bold text-wrap text-end">{{student.bankNo}}</div>
            <div class="p-2 text-capitalize text-secondary">bank branch : <span class="text-white fw-bold text-wrap text-end">{{student.bankBranch}}</div>


        </div>
        
    </div>
</div>
{% endblock body %}